<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <%if(userInfo) {%>
            <h3>Good evening, <%=userInfo.name%></h3>
            <p>views:<%=userInfo.views%></p>
            <button><a href = "/logout">Logout</a></button>
        <%}else{%>
            <button><a href = "/login">Login</a></button>
            <button><a href = "/register">Register</a></button>
        <%}%>
    </body>
</html>