<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register!</h1>
        <form action = '/register' method="POST">
            <label>Email:
                <input placeholder="Email" type="text" name="email">
            </label>
            <label>Password:
                <input placeholder="*****" type="password" name="password">
            </label>
            <button type="submit">Submit!</button>
        </form>
    </body>
</html>